absl-py
aiohappyeyeballs
aiohttp
aiosignal
alembic
annotated-doc
annotated-types
anyio
async-timeout
attrs
axial_positional_embedding
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
CoLT5-attention
contourpy
cryptography
cuda-bindings
cuda-pathfinder
cuda-toolkit
cycler
databricks-sdk
datasets
dill
docker
einops
einshape
exceptiongroup
faiss-gpu
fastapi
filelock
Flask
flask-cors
fonttools
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
graphene
graphql-core
graphql-relay
greenlet
grpcio
gunicorn
h11
hf-xet
httpcore
httplib2
httpx
huey
huggingface_hub
hyper-connections
idna
importlib_metadata
itsdangerous
Jinja2
joblib
kiwisolver
local-attention
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mlflow
mlflow-skinny
mlflow-tracing
mpmath
multidict
multiprocess
narwhals
networkx
numpy
oauthlib
opentelemetry-api
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1769093650/work
pandas
patool
patsy
pillow
platformdirs
prettytable
product_key_memory
propcache
proto-plus
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
Pygments
pygsheets
pyparsing
python-dateutil
python-dotenv
pytz
PyWavelets
PyYAML
reformer-pytorch
regex
requests
requests-oauthlib
rich
safetensors
scikit-base
scikit-learn
scipy
sentry-sdk
shellingham
six
skops
sktime
smmap
SQLAlchemy
sqlparse
starlette
statsmodels
sympy
tensorboard
tensorboard-data-server
threadpoolctl
timesfm
tokenizers
tomli
torch
torch-einops-utils
torchinfo
torchvision
tqdm
transformers
triton
typer
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
utilsforecast
uvicorn
wandb
wcwidth
Werkzeug
xxhash
yarl
zipp
